.DS_Store
Thumbs.db


*.sln.DotSettings.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.dll
*.exe
*.pdb
*.obj
*.o
*.vs
.vscode
obj/
bin/
packages/
build/
Debug/
Release/
netcoreapp*/
App_Data/


appsettings.Development.json
secrets.json


*.log